<section id="form">

  <h2>{{ !editar ? 'Cadastro' : 'Alterar' }} Atleta</h2>

  <form id="form-atleta" (ngSubmit)="enviarDadosAtleta()">

    <div class="campo campo-nome">

      <label for="nome">Nome Completo*</label>

      <input
        type="text"
        name="nome"
        id="nome"
        [(ngModel)]="nome"
        maxlength="60"
        required
        placeholder="Digite o nome Completo"
      >

    </div>


    <div class="campo campo-data-nascimento">

      <label for="dataNascimento">Data de Nascimento*</label>

      <input
        type="date"
        name="dataNascimento"
        [(ngModel)]="dataNascimento"
        id="dataNascimento"
        required
      >

    </div>


    <div class="linha">

      <div class="campo cpf">

        <label for="cpf">CPF*</label>

        <input
          type="text"
          name="cpf"
          [(ngModel)]="cpf"
          id="cpf"
          maxlength="14"
          required
          placeholder="Digite o CPF"
        >

      </div>


      <div class="campo sexo">

        <label>Sexo</label>

        <div class="opcoes-sexo">

          <label class="radio-label">

            <input
              type="radio"
              name="sexo"
              [(ngModel)]="sexo"
              value="M"
              required
            >

            Masculino

          </label>


          <label class="radio-label">

            <input
              type="radio"
              name="sexo"
              [(ngModel)]="sexo"
              value="F"
            >

            Feminino

          </label>


          <label class="radio-label">

            <input
              type="radio"
              name="sexo"
              [(ngModel)]="sexo"
              value="N"
            >

            Não Declarar

          </label>

        </div>

      </div>

    </div>


    <!-- SOMENTE PESO E ALTURA -->

    <div class="linha">

      <div class="campo">

        <label for="peso">Peso (kg)*</label>

        <input
          type="number"
          name="peso"
          [(ngModel)]="peso"
          id="peso"
          min="1"
          step="0.1"
          required
          placeholder="Ex: 70"
        >

      </div>


      <div class="campo">

        <label for="altura">Altura (m)*</label>

        <input
          type="number"
          name="altura"
          [(ngModel)]="altura"
          id="altura"
          min="0.5"
          max="2.5"
          step="0.01"
          required
          placeholder="Ex: 1.75"
        >

      </div>

    </div>


    <div class="campo campo-cep">

      <label for="cep">CEP*</label>

      <input
        type="text"
        name="cep"
        [(ngModel)]="cep"
        id="cep"
        maxlength="9"
        required
        placeholder="Digite o CEP"
      >

    </div>


    <div class="linha endereco">

      <div class="campo rua">

        <label for="rua-logradouro">
          Rua/Logradouro*
        </label>

        <input
          type="text"
          name="rua-logradouro"
          [(ngModel)]="rua_logradouro"
          id="rua-logradouro"
          maxlength="100"
          required
          placeholder="Digite a Rua ou o Logradouro"
        >

      </div>


      <div class="campo bairro">

        <label for="bairro">Bairro*</label>

        <input
          type="text"
          name="bairro"
          [(ngModel)]="bairro"
          id="bairro"
          maxlength="60"
          required
          placeholder="Digite o bairro"
        >

      </div>


      <div class="campo cidade">

        <label for="cidade">Cidade*</label>

        <input
          type="text"
          name="cidade"
          [(ngModel)]="cidade"
          id="cidade"
          maxlength="60"
          required
          placeholder="Digite a cidade"
        >

      </div>


      <div class="campo uf">

        <label for="uf">UF*</label>

        <input
          type="text"
          name="uf"
          [(ngModel)]="uf"
          id="uf"
          maxlength="2"
          required
          placeholder="Digite a UF"
        >

      </div>

    </div>


    <div id="div-btns">

      <button
        type="submit"
        id="btnAdd"
      >
        {{ !editar ? 'Cadastrar' : 'Alterar' }}
      </button>


      <button
        type="button"
        id="btnLimpar"
        (click)="limparDados()"
      >
        Limpar
      </button>

    </div>

  </form>

</section>
