<div id="div-corridas">

    <h2>Corridas Disponíveis</h2>
  
    <table>
  
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Data</th>
          <th>Distâncias</th>
          <th>Ação</th>
        </tr>
      </thead>
  
      <tbody>
  
        @if (corridas.length === 0) {
  
          <tr>
            <td colspan="4" class="sem-corridas">
              Nenhuma corrida cadastrada.
            </td>
          </tr>
  
        }
  
        @for (corrida of corridas; track corrida.id) {
  
          <tr>
  
            <td>
              {{ corrida.descricao }}
            </td>
  
            <td>
              {{ corrida.data }}
            </td>
  
            <td>
              {{ corrida.distancias.join(', ') }}
            </td>
  
            <td class="acao">
  
              <button
                type="button"
                (click)="inscrever(corrida)"
              >
                Inscrever-se
              </button>
  
            </td>
  
          </tr>
  
        }
  
      </tbody>
  
    </table>
  
  </div>