<section class="pagina">

    <div class="formulario">
  
      <h1>Login</h1>
  
      <p>
        Entre no sistema para continuar.
      </p>
  
      <form>
  
        <div class="campo">
  
          <label>E-mail</label>
  
          <input
            type="email"
            name="email"
            placeholder="Digite seu e-mail"
          >
  
        </div>
  
        <div class="campo">
  
          <label>Senha</label>
  
          <input
            type="password"
            name="senha"
            placeholder="Digite sua senha"
          >
  
        </div>
  
        <button type="submit">
          Entrar
        </button>
  
      </form>
  
    </div>
  
  </section>