<div id="div-corrida">

  <h2>Cadastro de Corrida</h2>

  <!-- MENSAGEM DE SUCESSO -->

  @if (mensagem) {

    <div class="mensagem sucesso">
      {{ mensagem }}
    </div>

  }


  <!-- MENSAGEM DE ERRO -->

  @if (mensagemErro) {

    <div class="mensagem erro">
      {{ mensagemErro }}
    </div>

  }


  <form
    #formCorrida="ngForm"
    (ngSubmit)="cadastrar(formCorrida)"
    novalidate
  >


    <!-- DESCRIÇÃO -->

    <label for="descricao">
      Descrição da corrida
    </label>

    <input
      type="text"
      id="descricao"
      name="descricao"
      [(ngModel)]="corrida.descricao"
      required
      minlength="3"
      maxlength="100"
      placeholder="Ex.: Corrida Esporte Ar Livre"
      #descricao="ngModel"
    >

    @if (descricao.invalid && descricao.touched) {

      <div class="erro-campo">
        Informe a descrição da corrida.
      </div>

    }


    <!-- DATA -->

    <label for="data">
      Data da corrida
    </label>

    <input
      type="date"
      id="data"
      name="data"
      [(ngModel)]="corrida.data"
      required
      #data="ngModel"
    >

    @if (data.invalid && data.touched) {

      <div class="erro-campo">
        Informe a data da corrida.
      </div>

    }


    <!-- DISTÂNCIA -->

    <label>
      Distância da corrida
    </label>

    <div class="distancias">

      <button
        type="button"
        [class.selecionada]="corrida.distancias.includes('5 KM')"
        (click)="selecionarDistancia('5 KM')"
      >
        5 KM
      </button>

      <button
        type="button"
        [class.selecionada]="corrida.distancias.includes('10 KM')"
        (click)="selecionarDistancia('10 KM')"
      >
        10 KM
      </button>

      <button
        type="button"
        [class.selecionada]="corrida.distancias.includes('21 KM')"
        (click)="selecionarDistancia('21 KM')"
      >
        21 KM
      </button>

    </div>


    @if (corrida.distancias.length === 0) {

      <div class="erro-campo">
        Selecione uma distância.
      </div>

    }


    <!-- BOTÕES -->

    <div id="botoes">

      <button
        type="submit"
        id="btnCadastrar"
      >
        Cadastrar Corrida
      </button>

      <button
        type="button"
        id="btnLimpar"
        (click)="limpar()"
      >
        Limpar
      </button>

    </div>

  </form>

</div>