<div id="div-inscricao">

  <h2>Inscrição na Corrida</h2>


  <!-- MENSAGEM DE SUCESSO -->

  @if (mensagem) {

    <div class="mensagem sucesso">
      {{ mensagem }}
    </div>

  }


  <!-- MENSAGEM DE ERRO -->

  @if (mensagemErro) {

    <div class="mensagem erro">
      {{ mensagemErro }}
    </div>

  }


  <form
    #formInscricao="ngForm"
    (ngSubmit)="inscrever(formInscricao)"
    novalidate
  >


    <!-- ATLETA -->

    <div class="campo">

      <label for="atleta">
        Nome do atleta
      </label>

      <select
        id="atleta"
        name="atleta"
        [(ngModel)]="inscricao.atleta"
        required
        #atleta="ngModel"
      >

        <option value="">
          Selecione um atleta
        </option>

        @for (pessoa of atletas; track pessoa.id) {

          <option [value]="pessoa.nome">
            {{ pessoa.nome }}
          </option>

        }

      </select>

      @if (atleta.invalid && atleta.touched) {

        <div class="erro-campo">
          Selecione o atleta.
        </div>

      }

    </div>


    <!-- CORRIDA -->

    <div class="campo">

      <label for="corrida">
        Corrida
      </label>

      <select
        id="corrida"
        name="corrida"
        [(ngModel)]="inscricao.corrida"
        required
        #corrida="ngModel"
      >

        <option value="">
          Selecione uma corrida
        </option>

        @for (item of corridas; track item.id) {

          <option [value]="item.descricao">
            {{ item.descricao }} - {{ item.data }}
          </option>

        }

      </select>

      @if (corrida.invalid && corrida.touched) {

        <div class="erro-campo">
          Selecione a corrida.
        </div>

      }

    </div>


    <!-- DISTÂNCIA -->

    <div class="campo">

      <label for="distancia">
        Distância
      </label>

      <select
        id="distancia"
        name="distancia"
        [(ngModel)]="inscricao.distancia"
        required
        #distancia="ngModel"
      >

        <option value="">
          Selecione a distância
        </option>

        <option value="5 KM">
          5 KM
        </option>

        <option value="10 KM">
          10 KM
        </option>

        <option value="21 KM">
          21 KM
        </option>

      </select>

      @if (distancia.invalid && distancia.touched) {

        <div class="erro-campo">
          Selecione a distância.
        </div>

      }

    </div>


    <!-- TAMANHO DO KIT -->

    <div class="campo">

      <label for="tamanhoKit">
        Tamanho do Kit
      </label>

      <select
        id="tamanhoKit"
        name="tamanhoKit"
        [(ngModel)]="inscricao.tamanhoKit"
        required
        #tamanhoKit="ngModel"
      >

        <option value="">
          Selecione o tamanho
        </option>

        <option value="P">
          P
        </option>

        <option value="M">
          M
        </option>

        <option value="G">
          G
        </option>

        <option value="GG">
          GG
        </option>

      </select>

      @if (tamanhoKit.invalid && tamanhoKit.touched) {

        <div class="erro-campo">
          Selecione o tamanho do kit.
        </div>

      }

    </div>


    <!-- CATEGORIA / FAIXA ETÁRIA -->

    <div class="campo">

      <label for="categoria">
        Categoria / Faixa Etária
      </label>

      <select
        id="categoria"
        name="categoria"
        [(ngModel)]="inscricao.categoria"
        required
        #categoria="ngModel"
      >

        <option value="">
          Selecione a categoria
        </option>

        <option value="Até 17 anos">
          Até 17 anos
        </option>

        <option value="18 a 29 anos">
          18 a 29 anos
        </option>

        <option value="30 a 39 anos">
          30 a 39 anos
        </option>

        <option value="40 a 49 anos">
          40 a 49 anos
        </option>

        <option value="50 anos ou mais">
          50 anos ou mais
        </option>

      </select>

      @if (categoria.invalid && categoria.touched) {

        <div class="erro-campo">
          Selecione a categoria.
        </div>

      }

    </div>


    <!-- VALOR FIXO -->

    <div class="campo">

      <label>
        Valor da inscrição
      </label>

      <div class="valor-inscricao">
        R$ 80,00
      </div>

    </div>


    <!-- REGULAMENTO -->

    <div class="termo">

      <label>

        <input
          type="checkbox"
          name="regulamento"
          [(ngModel)]="inscricao.regulamento"
          required
        >

        Li e aceito os termos do regulamento da prova.

      </label>

    </div>


    <!-- DECLARAÇÃO DE SAÚDE -->

    <div class="termo">

      <label>

        <input
          type="checkbox"
          name="declaracaoSaude"
          [(ngModel)]="inscricao.declaracaoSaude"
          required
        >

        Declaro estar em condições de saúde
        para participar da prova.

      </label>

    </div>


    <!-- BOTÕES -->

    <div id="botoes">

      <button
        type="submit"
        id="btnFinalizar"
      >
        Finalizar Pagamento
      </button>


      <button
        type="button"
        id="btnLimpar"
        (click)="limpar()"
      >
        Limpar
      </button>

    </div>

  </form>

</div>